@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
}

.faq {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50px;
    background-image: url(../img/keyboards\ razer.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.faq .container {
    margin: 20px 150px;
}

.faq .title {
    margin: 70px 150px 10px;
    font-size: 1.8em;
    background-repeat: no-repeat;
}

.faq .title img {
    max-width: 100%;
}

.faq h3 {
    font-size: 1.6em;
}

.faq p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

@media(max-width:700px) {
    .faq .container {
        margin: 20px 50px;
    }

    .faq .title {
        margin: 50px 50px 20px;
    }
}

@media(max-width:550px) {
    .faq .title img {
        min-width: 370px;
        margin-bottom: -300px;
    }
}
